
*{
	margin:0px;
	padding:0px;

}
.header
{
  background-color:orange;
  color: white;
  padding:5px;
  text-align:center;

}
.header h3
{
  font-family:sans-serif;
}

.nav
{ 
   
  background-color:#414141; 
  margin-top:5px;
  height:28px;
  padding:10px 0px;


  
}
.nav ul
{
  list-style-type:none;
}
.nav ul li 
{
   float:left;
}
.nav li a
{
  padding: 10px 30px;
  text-decoration:none;
   color:white;
   font-size:20px;
}

.nav li a:hover
{
	text-decoration:underline;
}

.form
{
  float:left;
  font-size:20px;
  margin-left:280px;
}
.main
{
	clear:both;

}
.main .aside
{
   width:30%;
   margin-right:1%;
   float:left;


}
.main .aside h3
{
	 padding:5px;
     background-color:green;
    color: white;
    font-family:sans-serif;

}
.main .aside ul
{

  list-style-type:none;
  background-color:#000;

}
.main .aside ul li
{
   padding:15px 20PX;
}
.main .aside ul li a
{
     
	 text-decoration:none;
	 color:white;
	 font-size:20px;
}

.main .aside ul li a:hover
{
	text-decoration:underline;
}
  

.section
{ 
  width: 65%;
  padding:5px;
  float:left;


}
.section>h2
{
  background-color:orange;
  color:white;
  text-align:center;
  font-family:sans-serif;

}
.section > p
{
  background-color:grey;
  text-align:justify;
  line-height:24px;
  margin-top:10px;
  font-size:22px;
}
.footer
{
	clear:both;
	background-color:orange;
	color:white;
	text-align:center;
	padding:10px;
}

.example 
{
  background-color:grey;
  padding:10px;
  margin-top:10px;
}
.example h2
{
  background-color:grey;
  color:white;
  text-align:left;
}

.example .box 
{
  
   background-color:black;
   color:white; 
   padding:5px;
  
}
.box p
{
	font-size:20px;
}
.example button
{
	display:inline-block;
	padding:5px 20px;
	background-color:green;
	color:white;
	margin-top:5px;
	border:2px solid green;
}